.header__lang-link {
  outline: none;
  border:none;
  background: #2A2C2F;
  width: 29px;
  height: 28px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #FFFFFF;
  margin-top: 18px;
  margin-bottom: 6px;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    width: 22px;
    height: 20px;
    margin-top: 14px;
    font-size: 18px;
    line-height: 20px;
  }
}