.photo-grid {
  width: 1184px;
  height: 671px;
  margin-top: 92px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 48px;
  padding-right: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows:  1fr 1fr 1fr;
  gap: 16px;
  justify-content: center;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    width: 928px;
    height: 942px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr 1fr;
    gap: 14px;
    margin-right: 48px;
    margin-left: 0;
    margin-top: 462px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    width: 720px;
    height: 1664px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 16px;
    justify-content: center;
    margin-right: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    margin-top: 759px;
    width: 288px;
    height: 2724px;
    grid-template-columns: 1fr;
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 12px;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
  }
}