.places {
  width: 984px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 92px;
  justify-content: center;
}

@media screen and (max-width: 1279px) {
  .places {
    max-width: 928px;
    max-height: 3325px;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    max-width: 320px;
    max-height: 5177px;
    margin-top: 64px;
  }
}