.lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 148px;
  margin-right: 148px;
  position: relative;
}

@media screen and (max-width: 1279px) {
  .lead {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .lead {
    max-width: 320px;
    max-height: 406px;
    margin-left: 0;
    margin-right: 0;
  }
}

