.place__website_link {
  width: 456px;
  height: 22px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.place__website_link:hover {
  width: 456px;
  height: 22px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
  opacity: 0.8;
}