.lead__title {
  width: 720px;
  height: 200px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 0;
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  .lead__title {
    width: 288px;
    height: 88px;
    font-size: 40px;
    line-height: 44px;
  }
}