.place__paragraph {
  max-width: 484px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  margin-left: auto;
  margin-top: 0;
}

@media screen and (max-width: 1279px) {
  .place__paragraph {
    max-width: 456px;
    margin-left: 0;
  }
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    margin-left: 8px;
    margin-right: 8px;
    font-size: 16px;
    max-width: 352px;
  }
}