.lead__image_road {
  background-image: url(../../../images/Group4.png);
  width: 937.09px;
  height: 262.99px;
  margin-left: 23.27px;
  margin-right: 23.64px;
  margin-top: calc(-263px - 261px);
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1279px) {
  .lead__image_road {
  background-image: url(../../../images/Group1024.png);
  width: 850px;
  height: 250px;
  margin-top: calc(-248px - 247px);
  margin-left: 69px;
  margin-right: auto;
  }
}

@media screen and (max-width: 1023px) {
  .lead__image_road {
    background-image: url(../../../images/Group768.png);
    margin-top: calc(-205px - 204px);
    width: 732px;
    height: 205px;
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media screen and (max-width: 767px) {
  .lead__image_road {
    background-size: 305px 86px;
    margin-top: calc(-85px - 86px);
    width: 305px;
    height: 86px;
    margin-left: 7px;
    margin-right: 7px;
  }
}

