.intro {
  height: 54px;
  display: grid;
  grid-template-columns: 984px;
  grid-template-rows: 54px;
  justify-content: center;
}

@media screen and (min-width: 1280px) {
  .intro {
    margin-top: 92px;
    height: 58px;
  }
}

@media screen and (max-width: 1279px) {
  .intro {
    grid-template-columns: 928px;
    margin-top: 92px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    grid-template-columns: 720px;
    margin-top: 88px;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    display: grid;
    grid-template-columns: 288px;
    grid-template-rows: 70px;
    height: 70px;
    margin-top: 64px;
  }
}

