.place__one{
    height: 580px;
    display: grid;
    grid-template-columns: 460px 484px;
    grid-template-rows: 76px 76px;
    column-gap: 40px;
    row-gap: 48px;
    justify-content: center;
}

@media screen and (max-width: 1279px) {
  .place__one {
    column-gap: 32px;
    grid-template-columns: 440px 456px;
  }
}

@media screen and (max-width: 1023px) {
  .place__one {
    column-gap: 28px;
    grid-template-columns: 340px 352px;
  }
}

@media screen and (max-width: 767px) {
    .place__one {
      grid-template-columns: 320px;
      grid-template-rows: 35px 46px 320px auto;
      margin-top: 50px;
      row-gap: 32px;
      min-height: 964px;
      max-height: 1200px;
    }
}