.lead__subtitle {
  width: 640px;
  height: 72px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 32px;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    width: 288px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
  }
}