.cover {
  max-width: 1184px;
  height: 740px;  
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media screen and (max-width: 1279px) {
  .cover {
    max-width: 1024px;
    max-height: 640px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1023px) {
  .cover__title {
    max-width: 768px;
    max-height: 480px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .cover__title {
    max-width: 320px;
    max-height: 200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
}