.cover__overlay {
  width: 1184px;
  height: 100%;
  background: #2A2C2F;
  opacity: 0.3;
  position: relative;
  z-index: 1;
}

.cover__overlay:hover {
  background: #2A2C2F;
  opacity: 0.8;
}