.lead__caption {
  min-width: 158px;
  height: 14px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 270px;
  margin-left: 0px;
  margin-right: auto;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

@media screen and (max-width: 1279px) {
  .lead__caption {
    margin-top: 250px;
    margin-left: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    margin-top: 212px;
    margin-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__caption {
    margin-top: 81px;
    margin-left: 16px;
  }