.place {
  width: 984px;
  height: 660px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: 152px 152px;
  column-gap: 40px;
  row-gap: 48px;
}

@media screen and (max-width: 1279px) {
  .place {
  max-width: 928px;
  max-height: 640px;
  grid-template-columns: 440px 456px;
  grid-template-rows: 152px 152px;
  column-gap: 32px;
  margin-bottom: 80px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    max-width: 720px;
    max-height: 581px;
    grid-template-columns: 340px 352px;
    grid-template-rows: 92px 340px;
    column-gap: 28px;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .place {
    max-width: 320px;
    max-height: 1042px;
    grid-template-columns: 320px;
    grid-template-rows: 35px 46px 320px auto;
    row-gap: 32px;
    margin-top: 50px;
    min-height: 964px;
    max-height: 1200px;
  }
}

