.list {
  list-style-type: none;
  color: #FFFFFF;
  padding-left: 0;
  margin-top: 33px;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .list {
    max-width: 288px;
  }
}

